/* Стили для WebKit-браузеров, включая Chrome */
*::-webkit-scrollbar {
	width: 10px; /* Ширина вертикального скроллбара */
	height: 7px; /* Высота горизонтального скроллбара */
}

*::-webkit-scrollbar-track {
	background: transparent; /* Цвет фона трека */
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: #888; /* Цвет ползунка */
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Цвет ползунка при наведении */
}
